@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
 }
 
img:hover {
    scale: 1.02;
    transition: scale 0.3s;
}
.header{
    background: linear-gradient(rgba(57, 8, 8, 0.5), rgba(0, 0, 0, 0.5)),url('./assets/header.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.detail{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.detail .caption{

    font-weight: 400;
    font-size: 7vw;
}


.detail .sub-caption{
    font-weight: 400;
    font-size: 2vw;
}