
#hero2 {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

}


#hero2 .girl {
    background-image: url("https://demo.flothemes.com/pronto/files/2021/05/pexels-cottonbro-7289125-768x1152.jpg");
    background-size:auto;
    background-size:cover ;
    align-content: center;
    background-repeat: no-repeat;
    text-align: center;
}

#hero2 .girl .my {
    font-size: 1.5vw;
}

#hero2 .girl .content {
    position: relative;
    top: 8vw;
    font-size: 2.5vw;
}

#hero2 .girl .hr {
    position: relative;
    top: 11vw;
    height: 0.01vw;
    background-color: aliceblue;
}

#hero2 .girl .since {
    position: relative;
    top: 13vw;
    font-size: 1.3vw;
}

#hero2 .boy {
    font-size: 1.3vw;
    text-align: center;
    align-content: center;
}

#hero2 .boy .boy_img img {
    height: 30vw;
    margin: 1.7vw 4vw;
}

#hero2 .object {
    font-size: 1.3vw;
    text-align: center;
    align-content: center;
    overflow: hidden;

}

#hero2 .object .object_img img {
    height: 25vw;
    margin: 1.7vw 0vw;

}

@media (max-width:900px) {
    #hero2 {
        grid-template-columns: auto;
        justify-content: center;
      
    }

    #hero2 .girl {
       height: 70vh; 
    }

    #hero2 .girl .my {
        position: relative;
        font-size: 4vw;
    }

    #hero2 .girl .content {
        position: relative;
        top: 8vw;
        font-size: 7vw;
    }

    #hero2 .girl .hr {
        position: relative;
        top: 11vw;
        height: 0.01vw;
        background-color: aliceblue;
    }

    #hero2 .girl .since {
        font-size: 3vw;
        position: relative;
        top: 13vw;
    }

   

    #hero2 .boy {
        font-size: 3vw;
        text-align: center;
        align-content: center;
    }

    #hero2 .boy .boy_img img {
        height: 80vw;
        margin: 1.7vw 4vw;
    }

    #hero2 .object {
        font-size: 3vw;
        text-align: center;
        align-content: center;
        overflow: hidden;

    }

    #hero2 .object .object_img img {
        height: 60vw;
        margin: 1.7vw 0vw;

    }
}
