#header{
    /* background-color: rebeccapurple; */
    padding: 0.5rem;
    text-align: center;
}
#slideImg{
    text-align: center;
    margin: 2px 0;
}
#slideImg img{
    width: 90vw;
    height: 70vh;

}
